body, td, input, textarea, select {
  	font-family: arial,sans-serif;
  	margin: 0;
}
*{
	margin: 0;
}
/*comman classes*/
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
/*End*/
.container{
	width: 100%;
}
.header-top {
  	background-color: #DDDDDD;
  	border-bottom: 1px solid #AFAFAF;
  	color: #000000;
  	height: 50px;
  	padding: 11px 10px 11px 6px;
}
.header-top .logo{
	height: 48px;
	width: 48px;
	margin: 0 7px;
}
.header-top .icons{
	height: 50px;
	margin: 0 3px;
}
.header-top .text{
	color:#fff;
	padding: 16px;
	line-height: 18px;
	color:#9b9b9b;
	background-color: #bbbbbb;
	border-radius: 4px;
}
.logo-text {
  	width: 152px;
}
.mail{
	
}

.table {
  width: 100%;
  background-color:#EEEEEE;	
}
td {
  background-color: #EEEEEE;
  border-bottom: 2px solid #DDDDDD;
  height: 72px;
  padding: 15px 0;
  vertical-align: top;
}
td .icon {
  	width: 50px;
  	padding-left:25px;
  	padding-right: 16px;
}
