.logo-text {
  padding-left: 10px;
  padding-top: 18px;
  width: auto;
}
select {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  width: 120px;
}
.credit_card{background-color: #90C140;}
.debit_card{background-color: #F9A43E;}
.cash{background-color: #D94735;}
td { padding: 10px;}
td .icon {
  height: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 50px;
}
td.icons{width:50px;}
.row {
  padding: 10px 0;
}
.header-top { 
  padding: 11px 10px;
}
.header-top .logo {
  margin:0;
}
