<form id="add-expense-form" method="post">
  <div class="span12">
  <fieldset>
    <label><strong>Amount</strong></label> 
    <input type="hidden" placeholder="00.00" name="id" value="<%= id %>" id="id" class="input-block-level" > 
    <input type="number" placeholder="00.00" name="amount" value="<%= amount%>" id="amount" class="input-block-level" required> 
    <span class="amount-help help-block"></span> 
    <label><strong>Payment Method</strong></label> 
      <select name="payment_method" id="payment_method" class="input-block-level" >
      
      <option value="cash" <% if (payment_mode=="cash"){ %> selected="selected" <%}; %> >Cash</option>   
      <option value="credit_card" <% if (payment_mode=="credit_card"){ %> selected="selected" <%}; %> >Credit Card</option>
      <option value="debit_card" <% if (payment_mode=="debit_card"){ %> selected="selected" <%}; %> >Debit Card</option>
      
    </select>
    <span class="help-block"></span> 
    <label><strong> Note </strong></label> 
    <input type="text" placeholder="Purchase" name="note" value="<%= note %>" id="note" class="input-block-level" required> 
    <span class="note-help help-block"></span>
    <label><strong>Date</strong></label> 
    <input type="date" class="input-block-level" name="date" id='date' value="<%= fdate %>"></input>
    <div >
      <button type="button" id="add-expense-submit" class="btn btn-inverse btn-large btn-block">Save changes</button>
      <button type="reset" class="btn btn-large btn-block" id="cancel">Cancel</button>
    </div>
  </fieldset>
  </div>
</form>