<form id="add-expense-form" method="post">
  <div class="span12">
	<fieldset>
		<legend>Add Expense</legend>
		<label><strong>Amount</strong></label> 
		<input type="number" placeholder="00.00" name="amount" value="100"> 
		<span class="help-block">Example block-level help text here.</span> 
		<label><strong>Payment Method</strong></label> 
    <select name="payment_method">
			<option value="credit_card">Credit Card</option>
			<option value="debit_card">Debit Card</option>
			<option value="cash">Cash</option>		
		</select>
    <span class="help-block">Example block-level help text here.</span> 
    <label><strong> Note </strong></label> 
    <input type="text" placeholder="Purchase" name="note" value="Addexpense"> 
    <span class="help-block">Example block-level help text here.</span> 	
		<div class="form-actions">
	    <button type="button" id="add-expense-submit" class="btn btn-large btn-info">Save changes</button>
	    <button type="reset" class="btn btn-large">Cancel</button>
    </div>
	</fieldset>
	</div>
</form>