
    <% var total=0; %>
    <% for(var i=0; i< 20; i++) { %>
      <div class="span12 mail">
	  <h6>Like the 60s? Our second Cannes Lions International Festival of Creativity infog...</h6>
	  <div class="action"><span class=" pull-left"><img src="./img/facebook.png">  SapientNitro</span>
	  <a data-toggle="modal" href="#myModal0" role="button" class="btn pull-right">View details »</a></div><div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="myModal0">
	</div>
	</div>
    <% } %>
   